@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 0px;
    height: 0px;
  }
  .unselectable {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }
  progress {
    border-radius: 11px;
}
  progress::-webkit-progress-bar {
    background-color: #6B7280;
    border-radius: 11px;
  }
  progress::-webkit-progress-value {
    background-color: black;
    border-radius: 11px;
  }
  progress::-moz-progress-bar {
    /* style rules */
  }


body {
    --sb-track-color: #ffffff;
    --sb-thumb-color: #000000;
    --sb-size: 10px;
  }

  body::-webkit-scrollbar {
    width: var(--sb-size)
  }

  body::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 10px;
  }

  body::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 10px;
    border: 2px solid #ffffff;
  }

  @supports not selector(::-webkit-scrollbar) {
    body {
      scrollbar-color: var(--sb-thumb-color)
                       var(--sb-track-color);
    }
  }

}
